format = """\
[\\[](fg:blue)[$time](fg:red)[\\]](fg:blue)\
[\\[](fg:blue)[$username@$hostname:$directory](fg:red)[\\]](fg:blue)\
${custom.git_custom}\
[$character](fg:green)\
"""

add_newline = false

[time]
disabled = false
format = '$time'
time_format = "%H:%M"

[username]
format = "$user"
show_always = true

[hostname]
format = "@$hostname"
ssh_only = false

[directory]
format = '$path'
truncation_length = 0

[custom.git_dir]
when = "git rev-parse --is-inside-work-tree 2>/dev/null"
format = "$output"
command = 'basename "$(git rev-parse --show-toplevel 2>/dev/null)"'

[custom.git_custom]
when = "git rev-parse --is-inside-work-tree 2>/dev/null"
format = "[\\[](fg:blue)[$output](fg:green)[\\]](fg:blue)${custom.git_dir.output}"
command = '''
branch=$(git rev-parse --abbrev-ref HEAD 2>/dev/null);
hash=$(git rev-parse --short HEAD 2>/dev/null);
repo=$(basename "$(git rev-parse --show-toplevel 2>/dev/null)");
echo "ï˜:$branch($hash):$repo"
'''

[character]
success_symbol = '\$'
error_symbol = '\$'
